ssh_keys:
     public: /Users/SOME_USER/SSH/go-ssh.pub
     private: /Users/SOME_USER/SSH/go-ssh
stack:
   vars:
     stage_dir: /home/ubuntu/stage_dir
     host: REPLACE_ME 
     golr_host: REPLACE_ME 
     PROD_MODE: 1 
     docker_hub_user: geneontology
     tag: v2 
     S3_CRED_FILE: /Users/AEssiari/S3/s3cfg
     S3_BUCKET: REPLACE_ME
   scripts: [ stage.yaml, start_production_services.yaml ]
