ssh_keys:
     public: /Users/REPLACE_ME/SSH/go-ssh.pub
     private: /Users/REPLACE_ME/SSH/go-ssh
stack:
   vars:
     stage_dir: /home/ubuntu/stage_dir
     host: REPLACE_ME_WITH_AWS_INSTANCE_ELASTIC_IP 
     uri: 'http://orcid.org/XXXX-XXXX-XXXX-XXXX'
     username: 'REPLACE_ME'
     password: 'REPLACE_ME'
     minerva_java_opts: '-Xmx4G'
     docker_hub_user: "aessiari"
   scripts: [ stage.yaml, start_services.yaml  ]
